body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

#formKeliling {
    display: none;
}

img {
    width: 50%;
    height: 50%;
}

.row {
    justify-content: space-between;
}

.col-md-12 {
    align-items: flex-start;
    padding: 10px;
}

button {
    width: 50%;
    border-radius: 5px;
    border: 0;
}

.btn-danger {
    background-color: #d9534f;
    color: white;
}

.btn-primary {
    background-color: #0275d8;
    color: white;
}

.btn-success {  
    background-color: #5cb85c;
    color: white;
}